@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
}

button.decades.btn.btn-light {
  font-weight: bold;
  color: #61696C;
  border:1px solid #C2C9CF;
  &:active, &:focus {
    color: #fff;
    background-color: #2471C0;
    border: none;
  }
}

.movie-card-container {
  background-color: #E8EAED;
  border-radius: 10px;
  border: 2px solid;
  overflow: hidden;
  display: flex;
  margin: 0 auto 50px;
  padding: 10px;
}

.image-container {
    flex: 1;
}

.image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.movie-info {
  display: block;
  flex: 3 1;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  text-align: left;
  padding-left: 20px;
  z-index: 1;

  h5 {
    margin: 0 0 5px;
    padding: 0 0 5px;
    border-bottom: 1px solid #8D979D;
    font-weight: bold;
  }

  p {
      font-size: 14px;
      margin: 10px 0;
      width: 100%;
      text-align: justify;
  }
  .tags-container {
      position: relative;
      
      span {
          border: 1px solid #8D979D;
          color: #8D979D;
          border-radius: 4px;
          display: inline-block;
          font-size: 14px;
          padding: 3px 10px;
          &.release {
            color: #303435;
            border: transparent;
            right: 0;
            position: absolute;
          }
          &.runtime {
            color: #303435;
            border: transparent;
          }
      }
  }

  .visit-button {
    position: relative;
    a {
      background-color: #F6B34F;
      color: #fff;
      position: absolute;
      right: 0;
      padding: 5px 30px;
      font-weight: bold;
      &:active {
        color: #fff;
      }
    }
  }
}